
:root {
    --black:#1C1C1C;
    --white:#F5F6F8;
    --blue: #0E69C7; 
    --orange:#E5B41C;
}

body {
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header-container {
    
    height: 44px;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
    
}

.top-menu-buttons {

    
    width: 100px;
    height: 21px;
    padding-top: 3px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    text-align: center;
    margin-top: 8px;
    margin-right: 5px;
    color: var(--blue);
    font-weight: bold;
    

}

.top-menu-buttons:hover {

    background-color: var(--orange) ;
    color: var(--white);
    cursor: pointer;

}

.banner-container {

    position: relative;
}

#banner-background-img {

    width: 100%;
    height: 600px;
    opacity: 0.7;
    position:absolute;
    
}

.banner-inner-section {
    width: 100%;
    height: 100px;
    
    
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-10%);
    
    
}

#myPicture {

    width: 250px;
    height: 250px;
    border: 8px solid var(--white);
    border-radius: 50%;
  
    
} 

h1 {

    font-size: 5.4em;
    color: var(--white);
    margin-left: 25%;
    transform: translate(-50%);
    margin-top: 10px;
    text-shadow: 4px 3px 0 var(--black);
    
}




