
:root {
    --black:#1C1C1C;
    --white:#F5F6F8;
    --blue: #0E69C7; 
    --orange:#E5B41C;
    --green: #3fff19;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
}

.main-container {
    display : flex;
    flex-direction: column;
}

#header-container {
    
    height: 50px;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
  
}

.top-menu-buttons {

    width: 100px;
    height: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
        
}

#contactButton:hover {

    background-color: var(--green);
    color: var(--black)

}

.top-menu-buttons:hover {

    background-color: var(--orange) ;
    color: var(--white);
    cursor: pointer;

}

.banner-container {

    height: 700px;

}

#banner-background-img {

    width: 100%;
    height: 700px;
    opacity: 0.3;
    position: absolute;
    
}

.banner-inner-section {

    
  
    width: 900px;
    height: 700px;
    
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    
    
}

#myPicture {

    position: relative;
    width: 250px;
    height: 250px;
    border: 8px solid var(--white);
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    
} 

h1 {

    font-size: 5.4em;
    color: var(--white);
    text-shadow: 4px 3px 0 var(--black);
    margin-left: 10%;
    margin-top: 25px;
    text-transform: uppercase;
    
}


#welcome {
   
  
    color: var(--white);
    font-size: 2.3em;
    text-shadow: 4px 3px 0 var(--black);
    margin-top: -58px;
    margin-left: 220px;
}

#about-ribon {
    
    position: relative;
    margin-top: 0;
    background-color: var(--blue);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;
    
}

.about-section {

    position: relative;
    background-color: var(--black);
    height: 500px;
   
}

#skills-ribon {

    position: relative;
    margin-top: 0;
    background-color: var(--blue);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;

}

.skills-section {

    position: relative;
    background-color: var(--black);
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.skill {
    
    width: 280px;
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skill-img {
    width: 280px;
}

.skill-text {
    color: var(--white);
    font-weight: bold;
    padding: 5px;
    font-size: 3em;
}


#contact-ribon {
    position: relative;
    margin-top: 0;
    background-color: var(--blue);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;
}

.contact-section {
    position: relative;
    background-color: var(--black);
    height: 500px;
}

i {
    background-color: var(--white);
    font-size: 5em;
    margin-left: 50%;
}

