
:root {
    --black:#1C1C1C;
    --white:#F5F6F8;
    --blue: #0E69C7; 
    --orange:#E5B41C;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
}

.main-container {
    display : flex;
    flex-direction: column;
}

#header-container {
    
    height: 50px;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
    
}

.top-menu-buttons {

    width: 100px;
    height: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
        
}

.top-menu-buttons:hover {

    background-color: var(--orange) ;
    color: var(--white);
    cursor: pointer;

}

.banner-container {

    height: 600px;
}

#banner-background-img {

    width: 100%;
    height: 600px;
    opacity: 0.7;
    position: absolute;
    
}

.banner-inner-section {
    width: 100%;
    height: 100px;
    
    
    position: relative;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-10%);
    
    
}

#myPicture {

    position: relative;
    width: 250px;
    height: 250px;
    border: 8px solid var(--white);
    border-radius: 50%;
  
    
} 

h1 {

    font-size: 5.4em;
    color: var(--white);
    margin-left: 25%;
    transform: translate(-50%);
    margin-top: 10px;
    text-shadow: 4px 3px 0 var(--black);
    
}

#about-ribon {
    
    position: relative;
    margin-top: 0;
    background-color: var(--blue);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;
    
}

.about-section {

    position: relative;
    background-color: var(--black);
    height: 500px;
   
}

#skills-ribon {

    position: relative;
    margin-top: 0;
    background-color: var(--blue);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2.5em;

}

.skills-section {
    position: relative;
    background-color: var(--black);
    height: 500px;
}

